body{
    margin: 50px;
    padding: 0px;
    background-color: #FFBC2A;
    display: flex;
    justify-content: center;
    
    
}
.container{
    background-color: white;
    width: 800px;
    height: 500px;
   
}

#chart{
    background-color: rgba(rgba(22, 21, 21, 0.76));
    width: 400px;
    height: 400px;
}
